<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-its-splashscreen"
  version="1.0.0">
  <name>SplashScreen</name>
  <description>Cordova plugin for Splashscreen</description>
  <author>quentin.fung@hku.hk</author>
  <license>Apache 2.0</license>
  <keywords>cordova,splashscreen,android,ios,plugin</keywords>

  <engines>
    <engine name="cordova-android" version=">=3.6.0" />
  </engines>

  <js-module src="www/splashscreen.js" name="SplashScreen">
    <clobbers target="its.splashscreen" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SplashScreen">
        <param name="android-package" value="hk.hku.its.splashscreen.SplashScreen"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <splash density="port-xhdpi" src="src/assets/images/screen/ios/Default@2x~universal~anyany.png" />
    <preference name="SplashScreen" default="src/assets/images/screen/ios/Default@2x~universal~anyany.png" />
    <preference name="AutoHideSplashScreen" default="false" />
    <preference name="SplashShowOnlyFirstTime" default="false" />
    <preference name="ShowSplashScreenSpinner" default="false" />
    <preference name="SplashScreenDelay" default="1000" />
    <preference name="FadeSplashScreen" default="false" />

    <source-file src="src/android/hk/hku/its/splashscreen/SplashScreen.java" target-dir="src/hk/hku/its/splashscreen" />

    <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
    <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <splash src="src/assets/images/screen/ios/Default@2x~universal~anyany.png" />
    <preference name="SplashScreen" default="src/assets/images/screen/ios/Default@2x~universal~anyany.png" />
    <preference name="AutoHideSplashScreen" default="false" />
    <preference name="SplashShowOnlyFirstTime" default="false" />
    <preference name="ShowSplashScreenSpinner" default="false" />
    <preference name="SplashScreenDelay" default="1000" />
    <preference name="FadeSplashScreen" default="false" />

    <header-file src="src/ios/CDVSplashScreen.h" />
    <source-file src="src/ios/CDVSplashScreen.m" />
    <header-file src="src/ios/CDVViewController+SplashScreen.h" />
    <source-file src="src/ios/CDVViewController+SplashScreen.m" />

    <framework src="CoreGraphics.framework" />
  </platform>

  <platform name="browser">
    <js-module src="src/browser/SplashScreenProxy.js" name="SplashScreenProxy">
      <runs />
    </js-module>

    <preference name="SplashScreenBackgroundColor" default="#4DA20A" />
    <preference name="ShowSplashScreen" default="false" />
  </platform>

  <resource-file src="Default@2x~universal~anyany.png" target="src/assets/images/screen/ios/Default@2x~universal~anyany.png" />
</plugin>
